Repository mettasocial-bot/keycloak_auth: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dry-run-keycloak, keycloak, serverless, on failure, on success

.gitlab-ci.yml:

image: ruby:latest

before_script:
    - gem install dpl

stages:
    - deploy
    - alert

dry-run-keycloak:
    variables:
      APP_NAME: "non-prod-meraklis-auth"
    type: deploy
    stage: deploy
    image: ruby:latest
    script:
      - dpl --provider=heroku --app=$APP_NAME --api-key=$HEROKU_API_KEY
    only:
      refs:
        - master
      changes:
        - keycloak-custom-theme/**/*
        - docker-entrypoint.sh
        - Dockerfile
        - heroku.yml
        - .gitlab-ci.yml
        - ci-scripts/**/*

keycloak:
    variables:
      APP_NAME: "prod-meraklis-auth"
    type: deploy
    stage: deploy
    image: ruby:latest
    script:
        - dpl --provider=heroku --app=$APP_NAME --api-key=$HEROKU_API_KEY
    only:
      refs:
        - /^production-.*$/
      changes:
        - keycloak-custom-theme/**/*
        - docker-entrypoint.sh
        - Dockerfile
        - heroku.yml
        - .gitlab-ci.yml
        - ci-scripts/**/*

serverless:
  image: node:latest
  before_script:
    - . ./ci-scripts/do_npm_install.sh
  stage: deploy
  script:
      - npx serverless deploy
  only:
    refs:
      - /^production-.*$/
    changes:
      - serverless-functions/**/*
      - serverless.yml
      - .gitlab-ci.yml
      - ci-scripts/**/*

on failure:
  stage: alert
  before_script:
    - echo "Sending message on slack"
  script:
    - . ./ci-scripts/slack_alert.sh production 0
  only:
    refs: 
      - /^production-.*$/
    changes:
      - serverless-functions/**/*
      - serverless.yml
      - keycloak-custom-theme/**/*
      - docker-entrypoint.sh
      - Dockerfile
      - heroku.yml
      - .gitlab-ci.yml
      - ci-scripts/**/*
  when: 
    on_failure

on success:
  stage: alert
  before_script:
    - echo "Sending message on slack"
  script:
    - . ./ci-scripts/slack_alert.sh production 1
  only:
    refs:
      - /^production-.*$/
    changes:
      - serverless-functions/**/*
      - serverless.yml
      - keycloak-custom-theme/**/*
      - docker-entrypoint.sh
      - Dockerfile
      - heroku.yml
      - .gitlab-ci.yml
      - ci-scripts/**/*
  when: 
    on_success

fix: Adding more verbose logs
  serverless-functions/authorize.js
Due: serverless, on failure, on success

fix: fixing redirect URI in exchange api call for token and authz code
  serverless-functions/authorize.js
Due: serverless, on failure, on success

fix: added check spam message
  README.md
  keycloak-custom-theme/meraklis/login/messages/messages_ca.properties
  keycloak-custom-theme/meraklis/login/messages/messages_cs.properties
  keycloak-custom-theme/meraklis/login/messages/messages_de.properties
  keycloak-custom-theme/meraklis/login/messages/messages_en.properties
  keycloak-custom-theme/meraklis/login/messages/messages_es.properties
  keycloak-custom-theme/meraklis/login/messages/messages_fr.properties
  keycloak-custom-theme/meraklis/login/messages/messages_it.properties
  keycloak-custom-theme/meraklis/login/messages/messages_ja.properties
  keycloak-custom-theme/meraklis/login/messages/messages_lt.properties
  keycloak-custom-theme/meraklis/login/messages/messages_nl.properties
  keycloak-custom-theme/meraklis/login/messages/messages_no.properties
  keycloak-custom-theme/meraklis/login/messages/messages_pl.properties
  keycloak-custom-theme/meraklis/login/messages/messages_pt_BR.properties
  keycloak-custom-theme/meraklis/login/messages/messages_ru.properties
  keycloak-custom-theme/meraklis/login/messages/messages_sk.properties
  keycloak-custom-theme/meraklis/login/messages/messages_sv.properties
  keycloak-custom-theme/meraklis/login/messages/messages_tr.properties
  keycloak-custom-theme/meraklis/login/messages/messages_zh_CN.properties
Due: dry-run-keycloak, keycloak, on failure, on success

fix: changed verify mail message on UI
  keycloak-custom-theme/meraklis/login/login-verify-email.ftl
  keycloak-custom-theme/meraklis/login/messages/messages_ca.properties
  keycloak-custom-theme/meraklis/login/messages/messages_cs.properties
  keycloak-custom-theme/meraklis/login/messages/messages_de.properties
  keycloak-custom-theme/meraklis/login/messages/messages_en.properties
  keycloak-custom-theme/meraklis/login/messages/messages_es.properties
  keycloak-custom-theme/meraklis/login/messages/messages_fr.properties
  keycloak-custom-theme/meraklis/login/messages/messages_it.properties
  keycloak-custom-theme/meraklis/login/messages/messages_ja.properties
  keycloak-custom-theme/meraklis/login/messages/messages_lt.properties
  keycloak-custom-theme/meraklis/login/messages/messages_nl.properties
  keycloak-custom-theme/meraklis/login/messages/messages_no.properties
  keycloak-custom-theme/meraklis/login/messages/messages_pl.properties
  keycloak-custom-theme/meraklis/login/messages/messages_pt_BR.properties
  keycloak-custom-theme/meraklis/login/messages/messages_ru.properties
  keycloak-custom-theme/meraklis/login/messages/messages_sk.properties
  keycloak-custom-theme/meraklis/login/messages/messages_sv.properties
  keycloak-custom-theme/meraklis/login/messages/messages_tr.properties
  keycloak-custom-theme/meraklis/login/messages/messages_zh_CN.properties
Due: dry-run-keycloak, keycloak, on failure, on success

fix: fixed the pipeline file
  .gitlab-ci.yml
Due: dry-run-keycloak, keycloak, serverless, on failure, on success

fix: fixed slack message job for pipeline
  .gitlab-ci.yml
Due: dry-run-keycloak, keycloak, serverless, on failure, on success

changed height od nav bar
  keycloak-core/keycloak-brand-theme/account/resources/css/account.css
Due: none

changed the verify email text
  keycloak-core/keycloak-brand-theme/login/login-verify-email.ftl
Due: none

build fix
  .gitlab-ci.yml
  serverless-functions/package.json
Due: dry-run-keycloak, keycloak, serverless, on failure, on success

build fix try out
  package-lock.json
Due: none

changed package lock.json
  serverless-functions/package-lock.json
Due: serverless, on failure, on success

reverted the eslint
  serverless-functions/package-lock.json
  serverless-functions/package.json
Due: serverless, on failure, on success

initial commit
  .gitlab-ci.yml
  keycloak-core/keycloak-brand-theme/login/login-verify-email.ftl
Due: dry-run-keycloak, keycloak, serverless, on failure, on success

new role initial commit
  keycloak-core/custom-authentication-scripts/login-user-type-validator.js
  keycloak-core/keycloak-brand-theme/email/html/email-verification.ftl
  keycloak-core/keycloak-brand-theme/login/login-update-profile.ftl
  keycloak-core/keycloak-brand-theme/login/register.ftl
  package-lock.json
  serverless-functions/authorize.js
Due: serverless, on failure, on success

minor change
  keycloak-core/custom-authentication-scripts/login-user-type-validator.js
Due: none

fix: fixed local development docker-compose issue
  .gitignore
  keycloak-core/Dockerfile
  keycloak-core/docker-compose.yml
  keycloak-core/docker-entrypoint.sh
Due: none

email verification
  keycloak-core/keycloak-brand-theme/email/html/email-verification.ftl
Due: none

empty commit
  .gitlab-ci.yml
Due: dry-run-keycloak, keycloak, serverless, on failure, on success

build trigger
  .gitlab-ci.yml
Due: dry-run-keycloak, keycloak, serverless, on failure, on success

reduced the size of the sign up form
  keycloak-core/keycloak-brand-theme/login/register.ftl
Due: none

sign up change height
  keycloak-core/keycloak-brand-theme/login/register.ftl
Due: none

token exchange
  keycloak-core/docker-entrypoint.sh
Due: none

Update README.md
  README.md
Due: none

logo changes
  keycloak-core/keycloak-brand-theme/account/messages/messages_en.properties
  keycloak-core/keycloak-brand-theme/account/template.ftl
  keycloak-core/keycloak-brand-theme/email/html/email-verification.ftl
  keycloak-core/keycloak-brand-theme/email/html/password-reset.ftl
  keycloak-core/keycloak-brand-theme/login/login.ftl
Due: none

new UI changes
  keycloak-core/keycloak-brand-theme/account/messages/messages_ca.properties
  keycloak-core/keycloak-brand-theme/account/messages/messages_en.properties
  keycloak-core/keycloak-brand-theme/login/dummy.ftl
  keycloak-core/keycloak-brand-theme/login/login.ftl
  keycloak-core/keycloak-brand-theme/login/resources/css/login.css
  keycloak-core/keycloak-brand-theme/login/template.ftl
Due: none

sign up form changes
  keycloak-core/keycloak-brand-theme/login/register.ftl
Due: none

sign up
  keycloak-core/keycloak-brand-theme/login/login-verify-email.ftl
  keycloak-core/keycloak-brand-theme/login/register.ftl
  keycloak-core/keycloak-brand-theme/login/resources/css/login.css
  keycloak-core/keycloak-brand-theme/login/template.ftl
Due: none

verify email
  keycloak-core/keycloak-brand-theme/login/login-verify-email.ftl
  keycloak-core/keycloak-brand-theme/login/resources/css/login.css
Due: none

label changes
  keycloak-core/keycloak-brand-theme/login/register.ftl
Due: none

minor fixes
  keycloak-core/keycloak-brand-theme/login/login-update-profile.ftl
  keycloak-core/keycloak-brand-theme/login/login-verify-email.ftl
  keycloak-core/keycloak-brand-theme/login/register.ftl
  keycloak-core/keycloak-brand-theme/login/resources/css/login.css
  keycloak-core/keycloak-brand-theme/login/template.ftl
Due: none

changed the realm
  keycloak-core/keycloak-brand-theme/account/messages/messages_en.properties
  keycloak-core/keycloak-brand-theme/login/login-update-profile.ftl
  keycloak-core/keycloak-brand-theme/login/login-verify-email.ftl
  keycloak-core/keycloak-brand-theme/login/register.ftl
  keycloak-core/keycloak-brand-theme/login/template.ftl
Due: none

input validation
  keycloak-core/keycloak-brand-theme/login/register.ftl
  keycloak-core/keycloak-brand-theme/login/resources/css/login.css
Due: none

changed _url
  serverless-functions/getUserDetailsById.js
  serverless-functions/logout.js
  serverless-functions/signup.js
  serverless-functions/signupWithType.js
  serverless-functions/utils/admin.js
Due: serverless, on failure, on success

changed domain
  serverless-functions/authorize.js
Due: serverless, on failure, on success

minor fix
  keycloak-core/keycloak-brand-theme/login/login-verify-email.ftl
Due: none

keycloak fixes initial commit
  keycloak-core/keycloak-brand-theme/login/login.ftl
  keycloak-core/keycloak-brand-theme/login/register.ftl
  keycloak-core/keycloak-brand-theme/login/resources/css/login.css
  keycloak-core/keycloak-brand-theme/login/template.ftl
Due: none

email verification issues
  keycloak-core/keycloak-brand-theme/email/html/email-verification.ftl
  keycloak-core/keycloak-brand-theme/login/register.ftl
  keycloak-core/keycloak-brand-theme/login/resources/css/login.css
Due: none
