Repository mettasocial-bot/keycloak_auth: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dry-run-keycloak, keycloak, serverless, on failure, on success

.gitlab-ci.yml:

image: ruby:latest

before_script:
    - gem install dpl

stages:
    - deploy
    - alert

dry-run-keycloak:
    variables:
      APP_NAME: "non-prod-meraklis-auth"
    type: deploy
    stage: deploy
    image: ruby:latest
    script:
      - dpl --provider=heroku --app=$APP_NAME --api-key=$HEROKU_API_KEY
    only:
      refs:
        - master
      changes:
        - keycloak-custom-theme/**/*
        - docker-entrypoint.sh
        - Dockerfile
        - heroku.yml
        - .gitlab-ci.yml
        - ci-scripts/**/*

keycloak:
    variables:
      APP_NAME: "prod-meraklis-auth"
    type: deploy
    stage: deploy
    image: ruby:latest
    script:
        - dpl --provider=heroku --app=$APP_NAME --api-key=$HEROKU_API_KEY
    only:
      refs:
        - /^production-.*$/
      changes:
        - keycloak-custom-theme/**/*
        - docker-entrypoint.sh
        - Dockerfile
        - heroku.yml
        - .gitlab-ci.yml
        - ci-scripts/**/*

serverless:
  image: node:latest
  before_script:
    - . ./ci-scripts/do_npm_install.sh
  stage: deploy
  script:
      - npx serverless deploy
  only:
    refs:
      - /^production-.*$/
    changes:
      - serverless-functions/**/*
      - serverless.yml
      - .gitlab-ci.yml
      - ci-scripts/**/*

on failure:
  stage: alert
  before_script:
    - echo "Sending message on slack"
  script:
    - . ./ci-scripts/slack_alert.sh production 0
  only:
    refs: 
      - /^production-.*$/
    changes:
      - serverless-functions/**/*
      - serverless.yml
      - keycloak-custom-theme/**/*
      - docker-entrypoint.sh
      - Dockerfile
      - heroku.yml
      - .gitlab-ci.yml
      - ci-scripts/**/*
  when: 
    on_failure

on success:
  stage: alert
  before_script:
    - echo "Sending message on slack"
  script:
    - . ./ci-scripts/slack_alert.sh production 1
  only:
    refs:
      - /^production-.*$/
    changes:
      - serverless-functions/**/*
      - serverless.yml
      - keycloak-custom-theme/**/*
      - docker-entrypoint.sh
      - Dockerfile
      - heroku.yml
      - .gitlab-ci.yml
      - ci-scripts/**/*
  when: 
    on_success

Removing note under registration user type dropdown as usertype dropdown no longer exists
  keycloak-custom-theme/meraklis/login/login-update-profile.ftl
  keycloak-custom-theme/meraklis/login/register.ftl
Due: dry-run-keycloak, keycloak, on failure, on success

Making meraklis logo bigger
  keycloak-custom-theme/meraklis/login/resources/css/login.css
Due: dry-run-keycloak, keycloak, on failure, on success

Revert "Showing applications tab to impersonator/master realm admin only"
  keycloak-custom-theme/meraklis/account/template.ftl
Due: dry-run-keycloak, keycloak, on failure, on success

Revert "Revert "Showing applications tab to impersonator/master realm admin only""
  keycloak-custom-theme/meraklis/account/template.ftl
Due: dry-run-keycloak, keycloak, on failure, on success

Showing applications tab to impersonator/master realm admin only
  keycloak-custom-theme/meraklis/account/template.ftl
Due: dry-run-keycloak, keycloak, on failure, on success

Using realm manager username and password from env vars
  .gitignore
  serverless-functions/signup.js
  serverless.yml
Due: serverless, on failure, on success

Using realm manager username and password from env vars in logout function too
  serverless-functions/logout.js
Due: serverless, on failure, on success

Using single centralised authentication in authorize call
  serverless-functions/authorize.js
Due: serverless, on failure, on success

Locking keycloak version. Removing console logs
  Dockerfile
  serverless-functions/authorize.js
Due: dry-run-keycloak, keycloak, serverless, on failure, on success

Adding new background to keycloak meraklis theme
  docker-entrypoint.sh
  keycloak-custom-theme/meraklis/login/login.ftl
  keycloak-custom-theme/meraklis/login/register.ftl
  keycloak-custom-theme/meraklis/login/resources/css/login.css
Due: dry-run-keycloak, keycloak, on failure, on success

Removing register option on login page
  keycloak-custom-theme/meraklis/login/template.ftl
Due: dry-run-keycloak, keycloak, on failure, on success

Changing the title of register form to sign up
  keycloak-custom-theme/meraklis/login/register.ftl
Due: dry-run-keycloak, keycloak, on failure, on success

Using little dark colors in gradient
  keycloak-custom-theme/meraklis/login/resources/css/login.css
Due: dry-run-keycloak, keycloak, on failure, on success

Using png instead of svg for keycloak pages as logo
  keycloak-custom-theme/meraklis/account/resources/css/account.css
  keycloak-custom-theme/meraklis/login/resources/css/login.css
  keycloak-custom-theme/meraklis/login/template.ftl
Due: dry-run-keycloak, keycloak, on failure, on success

Changing 'Remember me' to 'stay signed in'
  keycloak-custom-theme/meraklis/login/login.ftl
  keycloak-custom-theme/meraklis/login/resources/css/login.css
Due: dry-run-keycloak, keycloak, on failure, on success

Reverting to svg instead of png
  keycloak-custom-theme/meraklis/account/resources/css/account.css
Due: dry-run-keycloak, keycloak, on failure, on success

Adding keycloak scripts for reference
  .eslintrc.js
  keycloak-scripts/beta-registration-validator.js
  keycloak-scripts/client-mapper.js
  keycloak-scripts/login-user-type-validator.js
Due: none

Replaced Meraklis to MettaSocial
  ci-scripts/slack_alert.sh
  keycloak-custom-theme/meraklis/account/messages/messages_ca.properties
  keycloak-custom-theme/meraklis/account/messages/messages_de.properties
  keycloak-custom-theme/meraklis/account/messages/messages_en.properties
  keycloak-custom-theme/meraklis/account/messages/messages_es.properties
  keycloak-custom-theme/meraklis/account/messages/messages_fr.properties
  keycloak-custom-theme/meraklis/account/messages/messages_it.properties
  keycloak-custom-theme/meraklis/account/messages/messages_ja.properties
  keycloak-custom-theme/meraklis/account/messages/messages_lt.properties
  keycloak-custom-theme/meraklis/account/messages/messages_nl.properties
  keycloak-custom-theme/meraklis/account/messages/messages_no.properties
  keycloak-custom-theme/meraklis/account/messages/messages_sk.properties
  keycloak-custom-theme/meraklis/account/messages/messages_sv.properties
  keycloak-custom-theme/meraklis/account/messages/messages_tr.properties
  keycloak-custom-theme/meraklis/account/messages/messages_zh_CN.properties
  keycloak-custom-theme/meraklis/account/resources/css/account.css
  keycloak-custom-theme/meraklis/account/template.ftl
  keycloak-custom-theme/meraklis/login/login-update-profile.ftl
  keycloak-custom-theme/meraklis/login/login-username.ftl
  keycloak-custom-theme/meraklis/login/login.ftl
  keycloak-custom-theme/meraklis/login/register.ftl
  keycloak-custom-theme/meraklis/login/resources/css/login.css
  keycloak-custom-theme/meraklis/login/template.ftl
  keycloak-scripts/beta-registration-validator.js
  keycloak-scripts/login-user-type-validator.js
  package-lock.json
  package.json
  serverless-functions/authorize.js
  serverless-functions/logout.js
  serverless-functions/signup.js
  serverless.yml
Due: dry-run-keycloak, keycloak, serverless, on failure, on success

Changed icons
  ci-scripts/slack_alert.sh
  keycloak-custom-theme/meraklis/account/resources/css/account.css
  keycloak-custom-theme/meraklis/account/template.ftl
  keycloak-custom-theme/meraklis/login/resources/css/login.css
  keycloak-custom-theme/meraklis/login/template.ftl
  serverless-functions/authorize.js
  serverless-functions/logout.js
  serverless-functions/signup.js
Due: dry-run-keycloak, keycloak, serverless, on failure, on success

Adding dotenv to gitignore
  .gitignore
Due: none

Using AWS ECS for keycloak deployment
  Dockerfile
  docker-entrypoint.sh
Due: dry-run-keycloak, keycloak, on failure, on success

Using node:lts image for serverless deployment
  .gitlab-ci.yml
Due: dry-run-keycloak, keycloak, serverless, on failure, on success

Using correct logo url
  keycloak-custom-theme/meraklis/login/template.ftl
Due: dry-run-keycloak, keycloak, on failure, on success

Using slack webhook url from env vars
  ci-scripts/slack_alert.sh
Due: dry-run-keycloak, keycloak, serverless, on failure, on success

Removing heroku keycloak deployment related pipeline code
  .gitlab-ci.yml
Due: dry-run-keycloak, keycloak, serverless, on failure, on success

Using white logo
  keycloak-custom-theme/meraklis/login/template.ftl
Due: dry-run-keycloak, keycloak, on failure, on success

Using correct deployment bucket name
  serverless.yml
Due: serverless, on failure, on success

feat: Added signup with type api with route
  serverless-functions/signupWithType.js
  serverless.yml
Due: serverless, on failure, on success

fix: Using proper url for admin token api
  serverless-functions/signupWithType.js
Due: serverless, on failure, on success

fix: Using proper url for user creation
  serverless-functions/signupWithType.js
Due: serverless, on failure, on success

fix: Fixing typo delete
  serverless-functions/signupWithType.js
Due: serverless, on failure, on success

fix: Fixing all urls
  package-lock.json
  serverless-functions/authorize.js
  serverless-functions/logout.js
  serverless-functions/signup.js
  serverless-functions/signupWithType.js
Due: serverless, on failure, on success

chore: Adding debug logs
  serverless-functions/authorize.js
Due: serverless, on failure, on success

docs: Adding docs to run keycloak locally
  README.md
Due: none

feat: Added email template for verify email and forgot password
  docker-compose.yml
  keycloak-custom-theme/meraklis/email/html/email-verification.ftl
  keycloak-custom-theme/meraklis/email/html/password-reset.ftl
Due: dry-run-keycloak, keycloak, on failure, on success

docs: Added instruction to run keycloak locally
  README.md
Due: none

fix: Fixes typo in text
  keycloak-custom-theme/meraklis/email/html/email-verification.ftl
Due: dry-run-keycloak, keycloak, on failure, on success

fix: added get user details by id api
  package.json
  serverless-functions/authorize.js
  serverless-functions/getUserDetailsById.js
  serverless-functions/logout.js
  serverless-functions/signup.js
  serverless-functions/signupWithType.js
  serverless.yml
  utils/admin.js
Due: serverless, on failure, on success

fix: Adding CORS headers
  serverless-functions/getUserDetailsById.js
Due: serverless, on failure, on success

fix: adding cors settings
  serverless.yml
Due: serverless, on failure, on success
